.custom-text-input {
  margin-bottom: $space--sm;

  &.label-align--column {
    @extend %flex-center-column;

    label {
      align-self: flex-start;
    }
  }

  &.label-align--row {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: $space--sm;
    align-items: center;
  }


  &__input {
    @extend %flex-center-column;
    width: 100%;
    flex: 1;

    input,
    textarea {
      @extend %input;
      width: 100%;
    }

    textarea {
      resize: none;
      overflow: hidden;
    }

    &__error {
      align-self: flex-start;
      font-size: $font-size--xsmall;
      color: $color-error;
      margin-top: $space--xs;
    }
  }

  &.error {
    label {
      color: $color-error;
    }
  }

  &.error &__input {
    input,
    textarea {
      background-color: $color-error--xxlight;
      border-color: $color-error;
      color: $color-error;
    }
    
    input:focus,
    textarea:focus {
      background-color: transparent;
    }
  }
}