.activity-timer-multi {
  @extend %flex-center-column;
  width: 100%;

  &__timer--main {
    @extend %flex-center-column;
    font-size: $font-size--xlarge;
    font-weight: $font-weight--bold;
    margin: $space--sm;
    padding: $space--sm;
    border: 3px solid $color-primary;
    border-radius: 1rem;
    width: 10rem;

    &.paused span {
      animation: 1.5s blink infinite;
    }
  }

  &__controls {
    @extend %flex-center-row;
    justify-content: space-around;
    padding: $space--md 0;
    width: 100%;

    &__side {
      @extend %flex-center-column;

      &__icon {
        border-radius: 100%;
        background: $color-grey--light;
        color: white;
        width: 4rem;
        height: 4rem;
        padding: $space--xs;
        margin: $space--xs;
      }
  
      &__timer {
        color: $color-grey--light;
      }

      &.active.breast &__icon { background: $color-breast }
      &.active.pump &__icon { background: $color-pump }

      &.active &__timer {
        color: $color-primary;
      }
    }

    &__center {
      &__button {
        @extend %flex-center-column;
        border-radius: 100%;
        border: 3px solid $color-primary;
        outline: none;
        color: $color-primary;
        background: white;
        width: 4rem;
        height: 4rem;
        margin: $space--sm;
        cursor: pointer;
  
        &:hover {
          background: $color-primary--xlight;
        }
      }
    }
  }
}

.change-side.left {
  transform: rotate(90deg);
}

.change-side.right {
  transform: rotate(-90deg);
}