.activity-trend {
  &__controls {
    @extend %flex-center-row;
    justify-content: space-between;
    padding: $space--sm;
    padding-bottom: 0;
    width: 100%;

    &__button {
      margin-left: $space--xs;
    }
  }

  &__chart {
    @extend %box;
    margin: $space--sm;
    padding: $space--sm;
  }
}
