.top-nav {
  @extend %flex-center-row;
  align-items: stretch;
  background: $color-primary--xxlight;
  width: 100%;

  a {
    flex: 1;
    text-decoration: none;
  }

  &__button {
    @extend %button;
    @extend %flex-center-column;
    background: $color-primary--xlight;
    color: $color-primary--text-contrast;
    border-radius: 0;
    padding: $space--sm;
    cursor: pointer;
    width: 100%;
    height: 100%;

    svg {
      width: 2rem;
      height: 2rem;
    }
    
    &__label {
      width: 0;
      height: 0;
      font-size: $font-size--xsmall;
      overflow: hidden;
    }

    &--active {
      @extend .top-nav__button;
      background: $color-primary--light !important;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      .top-nav__button__label {
        width: auto;
        height: auto;
      }
    }
  }
}