.activity {
  @extend %flex-center-column;
  height: 100vh;

  &__title {
    @extend %flex-center-row;
    background: $color-primary;
    color: white;
    width: 100%;
    padding: $space--sm;

    h2 {
      flex: 1;
      padding-left: $space--sm;
    }
  }

  &__content {
    flex: 1;
    width: 100%;
    padding: $space--sm;
    overflow-y: auto;
  }

  &__buttons {
    @extend %flex-center-row;
    width: 100%;

    button {
      flex: 1;
      cursor: pointer;
      border: none;
      outline: none;
      font-size: $font-size--medium;
      padding: $space--md;
    }
    
    &__confirm {
      background: $color-success;
      color: white;

      &:hover {
        background: $color-success--dark;
      }
    }

    &__cancel {
      background: $color-grey--xlight;
      color: $color-grey--xdark;

      &:hover {
        background: $color-grey--light;
        color: white;
      }
    }
  }
}